.navbar {
  background-color: #2a231f;
  font-size: 1.2em;
  z-index: 2;
}

.navbar-brand {
  padding: 0;
  img {
    width: 125px;
    height: 80px;
  }
}

.bg-light {
  --bs-bg-opacity: 0;
}

.nav-link {
  color: rgb(121 77 47);
  font-weight: 700;
  --bs-nav-link-hover-color: rgb(211 195 167);
  text-shadow: 1px 1px 1px black;
}

.navbar-toggler {
  border: 2px solid rgb(121 77 47);
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  color: rgb(121 77 47);
}

.navbarMargin {
  margin: 0 100px;
  @media (max-width: 768px) {
    margin: 0 30px;
  }
}

.cartNav {
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 18px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  z-index: 5;
  background-color: var(--bs-danger);
  color: #fff;
  top: -10px;
}
