@import "navbar";
@import "principal";
@import "productos";
@import "cards";
@import "footer";
@import "sobreNosotros";
@import "testimonios";

body {
  font-family: "Merienda";
  margin: 0;
  padding: 0;
}

.btn {
  --bs-btn-color: rgb(121, 77, 47);
  :hover {
    color: rgb(121, 77, 47);
  }
}
